img,
embed,
object,
video {
    max-width: 100%;
}

a {
    /* This sets the padding to 1.5 times the font size of the current element */
    padding: 1.5em;
}

a:hover {
    /* add */
    padding: 1.5em;
}

.class_rand a {
    text-decoration: none;
    color: rgb(158, 75, 75);
    /* the first value takes care of the top and bottom padding, the second value sets the left and right padding. */
    padding: 1.5em inherit;
}
